body { 
    background-color:rgb(1, 38, 73); 
    text-align: center; 
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#container {
    margin: 40px auto;
    border: 5px solid black; 
    border-radius: 20px; 
    box-shadow: 0 0 50px rgba(3, 234, 226, 0.2); 
}
#project-title h1 { 
    color:rgb(255, 255, 255); 
    display: inline-block; 
    padding: 15px;
    -webkit-text-stroke: 2px #000; 
    font-weight: bolder; 
    font-size: 2.5rem;  
}
#project-subtitle h2 {
    color:rgb(255, 255, 255); 
    display: inline-block; 
    -webkit-text-stroke: 2px #000; 
    font-weight: bolder; 
    font-size: 2rem;  
}
#search {
    width: 40%;
    padding: 10px 15px;
    font-size: medium;
    color: black;
    border: 2px solid white;
    border-radius: 8px;
}
#results {
    margin-top: 5px;
    color: white;
    text-align: center;
    padding: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-text-stroke: 1px #000;
}
#selection-container {
    color: white;
}
#selection-container button {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(1, 1, 1);
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}
#selection-container button:hover {
    background-color: cyan;
    color: black;
}
#back-button {
    margin-bottom: 15px;
}
